body {
    background-color: #7dbde8;
}

footer {
    color: darkred;
}

ul {
  list-style-type: none;
}

.tc{
    text-align: center;
}

.custom-hover:hover {
   line-height:1.5em;
   width:55%;
   background-color: #C8DFEE;
}