{% extends 'base.html' %}

{% block title %}
    Welcome!
{% endblock %}

{% block head %}
<style>
.custom-hover {
    width: 40%
}

.hoe {
    margin-left: 0.2em;
}
</style>
{% endblock %}


{% block body %}
    <div class="ms-4">
        <h2 class="border-bottom
                   border-start
                   border-primary
                   border-3
                   ps-3
                   pt-2
                   w-25
                   pb-1
                   hoe
">
            Archive main page
        </h2>
        <div class="ms-5 mt-3">
            {% if products %}
                <h3>List of products:</h3>
                    <div class="border-start
                                border-dark
                                border-3
                                rounded-0
                                ">
                        <ol class="list-group w-50 mt-2 ms-3">
                            {% for product in products %}
                                <a class="text-decoration-none
                                          list-group-item
                                          rounded-pill
                                          mt-3
                                          border-secondary
                                          custom-hover
"
                                   href="{{ url_for('shop_app.details', product_id=product.id) }}">
                                    {{product.name}}
                                </a>
                            {% endfor %}
                        </ol>
                    </div>
            {% else %}
            <h1>
                Nothin' here yet!
            </h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
